@charset "utf-8";

* {
    margin: 0;
    padding: 0;
}

html {
    color: #4dc50a;
    background-color: #000000;
}

body {
    width: 80%;
    margin: 0 auto;
}

header {
    text-align: center;
    background-color: #333333;
    padding: 40px;
    border-bottom: 2px #3db56a solid;
}

main {
    display: flex;
}

article {
    width: 75%;
    border-right: 2px #4db56a solid;
    padding: 7% 7% 30% 7%;
    background-color: #333333;
}

aside {
    width: 25%;
    padding: 40px;
    background-color: #333333;
}

footer {
    text-align: center;
    border-top: 2px #4db56a solid;
    height: 5%;
    padding: 20px;
    background-color: #333333;
}

h1, p {
    text-shadow: 0 0 10px #4fbc8f,0 0 15px #4fbc8f;
}

h1 {
    font-size: 30px;
    padding: 8px;
}

a {
    color: aqua;
    text-decoration: none;
}

aside div  {
    margin: 0 auto;
    text-align: center;
}